<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user[:message] %>.<br/>
    </p>
    <p>
      <small>
        <%= @user[:name] %><br/>
        <%= @user[:phone] %><br/>
        <%= @user[:business] %><br/>
        <%= @user[:position] %><br/>
      </small>
    </p>
  </body>
</html>