<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @contact.message %>.<br/>
    </p>
    <p>
      <small>
        <%= @contact.name %><br/>
        <%= @contact.phone %><br/>
        <%= @contact.business %><br/>
        <%= @contact.position %><br/>
      </small>
    </p>
  </body>
</html>