<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Nuestros partners</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container-fluid-about">
    <div class="row">
      <div class="col-sm-8">
        <h4>Oracle es la empresa número uno en Software Corporativo del mundo, con presencia en más de 145 países y ventas superiores a 14 billones de dólares.  Oracle es el proveedor mundial líder de software para administración de información y el segundo proveedor independiente más grande de software. La tecnología Oracle se encuentra en todas las industrias alrededor del mundo y en las oficinas de 98 de las 100 empresas Fortune 100. Oracle es la primera compañía de software que desarrolla e implementa software para empresas 100 por ciento activado por Internet a través de toda su línea de productos: base de datos, aplicaciones comerciales y herramientas de desarrollo de aplicaciones y soporte de decisiones.</h4>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <a href="https://www.oracle.com">
          <img src="<%= image_url("media/partners/oracle.gif")%>" alt="Oracle">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid-about bg-gray">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="https://www.microsoft.com">
          <img src="<%= image_url("media/partners/microsoft.jpg")%>" alt="Microsoft">
        </a> 
      </div>
      <div class="col-sm-8">
        <h4>Microsoft es una empresa multinacional estadounidense, fundada en 1975 por Bill Gates y Paul Allen. Dedicada al sector de la informática, con sede en Redmond, Washington, Estados Unidos. Microsoft desarrolla, fabrica, licencia y produce software y equipos electrónicos. Siendo sus productos más usados el sistema operativo Microsoft Windows y la suite Microsoft Office, los cuales tienen una importante posición entre los ordenadores personales. Con una cuota de mercado cercana al 90% para Office en 2003 y para Windows en el 2006. Siguiendo la estrategia de Bill Gates de "tener una estación de trabajo que funcione con nuestro software en cada escritorio y en cada hogar".</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid-about">
    <div class="row">
      <div class="col-sm-8">
        <h4>Nexsys es el Primer Mayorista de Valor Agregado de Software y Hardware especializado de Latinoamérica con presencia en México, Centro América y Caribe, Colombia, Ecuador, Perú, Venezuela, Bolivia, Paraguay, Uruguay y Argentina. Fundada en 1988 como uno de los primeros distribuidores de tecnología en América Latina, su cadena de distribución incluye Resellers, VARs, ISVs e Integradores de Sistemas.</h4>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <a href="https://www.nexsysla.com">
          <img src="<%= image_url("media/partners/nexsys.jpg")%>" alt="Nexsys">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid-about bg-gray">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="https://www.corporater.com">
          <img src="<%= image_url("media/partners/corporater.jpg")%>" alt="Corporater">
        </a>
      </div>
      <div class="col-sm-8">
        <h4>Corporater es líder mundial en Soluciones de Gestión del Rendimiento Empresarial (EPM). Corporater Inc. fue fundada en el año 2000 en Noruega con la visión de crear un software que pudiera ser gestionado por usuarios de negocio. Actualmente tiene más de 1000 clientes y 200,000 usuarios en el mundo con Oficinas en USA, Argentina, UAE, India y Rumania. Corporater proporciona a los usuarios un software fácil de utilizar que impulsa la ejecución de la estrategia en el centro de la gestión del rendimiento. Corporater brinda un enfoque integral de la ejecución estratégica, mediante la armonización de las disciplinas de rendimiento (Operaciones, Presupuesto, Riesgo, Calidad, etc.). Corporater EPM incluye Tableros de comando, Mapas estratégicos, KPIs, Control de Riesgos, Planes de acción y Benchmarking.</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid-about">
    <div class="row">
      <div class="col-sm-8">
        <h4>El Grupo i68 está constituido por un conjunto de empresas cuya misión es aportar Soluciones Informáticas para la Innovación de la Gestión. Fue fundada en el año 1985 en España con filiales en San Sebastián, Madrid, Bilbao, Barcelona, Gijón, Sao Paulo y Brasilia. El Grupo i68 es propietario del ERP Izaro que está orientado a la Gestión de Empresas Industriales con clientes situados en España, Portugal, Francia, República Checa, Alemania, Italia, Hong Kong, Australia, USA y México. Es un proveedor líder en Soluciones Avanzadas de Planificación (APS) con algoritmos de optimización multicriterio, Gestión y Planificación de Proyectos de Manufactura (EPM) Gestión Avanzada de Almacenes (WMS), Control Estadístico de Procesos (SPC),  Mantenimiento en Planta (MMS) y Prevención de Riesgos Laborales, entre otras.</h4>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <a href="https://www.izaroaps.com">
          <img src="<%= image_url("media/partners/i68.jpg")%>" alt="i68">
        </a>
        <a href="https://www.grupoi68.com">
          <img src="<%= image_url("media/partners/izaro.jpg")%>" alt="izaro">
        </a>
      </div>
    </div>
  </div>

</section>