<section id="joinForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Únete a nosotros</h2>
        <hr class="primary">
      </div>
    </div>
    <%= form_for @member, url: possible_members_path, html: {id: "joinUsForm"} do |f| %>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label>Nombres</label>
            <%= f.text_field :first_name, class: "form-control", required: true, data: {"validation-required-message": "Por favor ingresa tu nombre"} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <label>Apellido paterno</label>
            <%= f.text_field :first_surname, class: "form-control", required: true, data: {"validation-required-message": "Por favor ingresa tu apellido paterno."} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <label>Apellido materno</label>
            <%= f.text_field :last_surname, class: "form-control", required: true, data: {"validation-required-message": "Por favor ingresa tu apellido materno."} %>
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <label>Correo electrónico</label>
            <%= f.text_field :email, class: "form-control", required: true, data: {"validation-required-message": "Por favor ingresa tu correo."} %>
            <p class="help-block text-danger"></p>
          </div>
          <div class ="col-sm-6 form-input-left">
            <div class="form-group">
              <label>Tipo de documento</label>
              <%= f.select :document_type, [["DNI", 0], ["Carnet de Extranjería", 1], ["Pasaporte", 2]], {}, class: "form-control"  %>
            </div>
          </div>
          <div class="col-sm-6 form-input-right">
            <div class="form-group">
              <label>Número de documento</label>
              <%= f.text_field :document_number, class: "form-control", required: true %>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <% if @type == 'students' %>

          <div class ="col-lg-12 form-input">
            <div class="form-group">
              <label>Tipo de estudios</label>
              <select class="form-control" id="tipoEstudio" name="tipoEstudio">
                <option value="0">Universitario</option>
                <option value="1">Técnico</option>
              </select>
            </div>
          </div>

          <div class="col-lg-12 form-input">
            <div class="form-group">
              <label>Universidad/Instituto/Escuela</label>
              <input type="text" class="form-control" id="universidad" name ="universidad" required="">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="col-lg-12 form-input">
            <div class="form-group">
              <label>Último ciclo cursado</label>
              <input type="text" class="form-control" id="ciclo" name ="ciclo" required="">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <% end %>

          <div class="col-lg-12 form-input">
            <div class="form-group">
              <label>Áreas de interés</label>

              <!-- Opciones area de interes -->
              <button type="button" class="accordion">
                <i class="fa fa-angle-right rotate"></i>
                Consultoría
              </button>
              <div class="accordion-panel">
                <div id="consultoria" class="form-group panel-content">
                  <label>Seleccione las áreas de consultoría que le interesen</label>
                  
                  <div class="checkbox">
                    <label for="c1C">
                      <%= f.check_box("consultancy_area", {:multiple => true}, "Procesos", nil) %> Procesos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="c2C">
                    <%= f.check_box("consultancy_area", {:multiple => true}, "Riesgos", nil) %>
                    Riesgos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="c3C">
                      <%= f.check_box("consultancy_area", {:multiple => true}, "Recursos Humanos", nil) %>
                      Recursos Humanos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="c4C">
                      <%= f.check_box("consultancy_area", {:multiple => true}, "Gestión de Proyectos", nil) %>
                      Gestión de Proyectos
                    </label>
                  </div>
                </div>
              </div>

              <button type="button" class="accordion">
                <i class="fa fa-angle-right rotate"></i>
                Tecnologías de la Información
              </button>
              <div class="accordion-panel">
                <div id="tecInf" class="form-group panel-content">
                  <label>Seleccione las áreas de Tecnologías de Información que le interesen</label>
                  <div class="checkbox">
                    <label for="c1T"><%= f.check_box("information_technology_area", {:multiple => true}, "Desarrollo", nil) %> Desarrollo</label>
                  </div>
                  <div class="checkbox">
                    <label for="c2T"><%= f.check_box("information_technology_area", {:multiple => true}, "Implementación de soluciones", nil) %> Implementación de soluciones</label>
                  </div>
                  <div class="checkbox">
                    <label for="c3T"><%= f.check_box("information_technology_area", {:multiple => true}, "Base de Datos", nil) %> Base de Datos</label>
                  </div>
                  <div class="checkbox">
                    <label for="c4T"><%= f.check_box("information_technology_area", {:multiple => true}, "Inteligencia de Negocios", nil) %> Inteligencia de Negocios</label>
                  </div>
                  <div class="checkbox">
                    <label for="c5T"><%= f.check_box("information_technology_area", {:multiple => true}, "Infraestructura", nil) %> Infraestructura</label>
                  </div>
                </div>
              </div>

              <button type="button" class="accordion">
                <i class="fa fa-angle-right rotate"></i>
                Outsourcing
              </button>
              <div class="accordion-panel">
                <div id="outsoursing" class="form-group panel-content">
                  <label>Seleccione las áreas de Outsourcing que le interesen</label>
                  <div class="checkbox">
                    <label for="c1O"><%= f.check_box("outsourcing_area", {:multiple => true}, "Mantenimiento de Aplicaciones", nil) %> Mantenimiento de Aplicaciones</label>
                  </div>
                  <div class="checkbox">
                    <label for="c2O"><%= f.check_box("outsourcing_area", {:multiple => true}, "Fábrica de Software", nil) %> Fábrica de Software</label>
                  </div>
                  <div class="checkbox">
                    <label for="c3O"><%= f.check_box("outsourcing_area", {:multiple => true}, "Business Process Outsourcing", nil) %> Business Process Outsourcing</label>
                  </div>
                  <div class="checkbox">
                    <label for="c4O"><%= f.check_box("outsourcing_area", {:multiple => true}, "Base de Datos Oracle", nil) %> Base de Datos Oracle</label>
                  </div>
                </div>
              </div>

              <button type="button" class="accordion">
                <i class="fa fa-angle-right rotate"></i>
                Administración
              </button>
              <div class="accordion-panel">
                <div id="administracion" class="form-group panel-content">
                  <label>Seleccione las áreas de Administración  que le interesen</label>
                  <div class="checkbox">
                    <label for="c1A"><%= f.check_box("administration_area", {:multiple => true}, "RRHH", nil) %> RRHH</label>
                  </div>
                  <div class="checkbox">
                    <label for="c2A"><%= f.check_box("administration_area", {:multiple => true}, "Contabilidad", nil) %> Contabilidad</label>
                  </div>
                  <div class="checkbox">
                    <label for="c3A"><%= f.check_box("administration_area", {:multiple => true}, "Tesorería", nil) %> Tesorería</label>
                  </div>
                  <div class="checkbox">
                    <label for="c4A"><%= f.check_box("administration_area", {:multiple => true}, "Facturación y Cobranzas", nil) %> Facturación y Cobranzas</label>
                  </div>
                  <div class="checkbox">
                    <label for="c5A"><%= f.check_box("administration_area", {:multiple => true}, "Logística", nil) %> Logística</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12 form-input">
              <label>Competencias técnicas de interés</label>
            </div>

            <div class="col-lg-6 form-input">
              <div class="checkbox">
                <label for="ct1"><%= f.check_box("technical_skills", {:multiple => true}, "Aplicaciones móviles", nil) %>Aplicaciones móviles</label>
              </div>
              <div class="checkbox">
                <label for="ct2"><%= f.check_box("technical_skills", {:multiple => true}, "Desarrollo web", nil) %>Desarrollo web</label>
              </div>
              <div class="checkbox">
                <label for="ct3"><%= f.check_box("technical_skills", {:multiple => true}, "ERP", nil) %>ERP</label>
              </div>
              <div class="checkbox">
                <label for="ct4"><%= f.check_box("technical_skills", {:multiple => true}, "Business intelligence", nil) %>Business intelligence</label>
              </div>
            </div>
            <div class="col-lg-6 form-input">
              <div class="checkbox">
                <label for="ct5"><%= f.check_box("technical_skills", {:multiple => true}, "Servicios web", nil) %>Servicios web</label>
              </div>
              <div class="checkbox">
                <label for="ct6"><%= f.check_box("technical_skills", {:multiple => true}, "ECM", nil) %>ECM</label>
              </div>
              <div class="checkbox">
                <label for="ct7"><%= f.check_box("technical_skills", {:multiple => true}, "Aplicaciones móviles", nil) %>Aplicaciones móviles</label>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-lg-12 form-input">
              <label>Competencias funcionales</label>
            </div>
            <div class="col-lg-6 form-input">
              <div class="checkbox">
                <label for="cf1"><%= f.check_box("functional_skills", {:multiple => true}, "Finanzas", nil) %>Finanzas</label>
              </div>
              <div class="checkbox">
                <label for="cf2"><%= f.check_box("functional_skills", {:multiple => true}, "RRHH", nil) %>RRHH</label>
              </div>
              <div class="checkbox">
                <label for="cf3"><%= f.check_box("functional_skills", {:multiple => true}, "Logística", nil) %>Logística</label>
              </div>
              <div class="checkbox">
                <label for="cf4"><%= f.check_box("functional_skills", {:multiple => true}, "Contabilidad", nil) %>Contabilidad</label>
              </div>
              <div class="checkbox">
                <label for="cf5"><%= f.check_box("functional_skills", {:multiple => true}, "Manufactura", nil) %>Manufactura</label>
              </div>
              <div class="checkbox">
                <label for="cf6"><%= f.check_box("functional_skills", {:multiple => true}, "Costos", nil) %>Costos</label>
              </div>
            </div>
            <div class="col-lg-6 form-input">
              <div class="checkbox">
                <label for="cf7"><%= f.check_box("functional_skills", {:multiple => true}, "Activo fijo", nil) %>Activo fijo</label>
              </div>
              <div class="checkbox">
                <label for="cf8"><%= f.check_box("functional_skills", {:multiple => true}, "Indicadores de gestión", nil) %>Indicadores de gestión</label>
              </div>
              <div class="checkbox">
                <label for="cf9"><%= f.check_box("functional_skills", {:multiple => true}, "Gestión comercial", nil) %>Gestión comercial</label>
              </div>
              <div class="checkbox">
                <label for="cf10"><%= f.check_box("functional_skills", {:multiple => true}, "Gestión de proyectos", nil) %> Gestión de proyectos</label>
              </div>
              <div class="checkbox">
                <label for="cf11"><%= f.check_box("functional_skills", {:multiple => true}, "Costos ABC", nil) %> Costos ABC</label>
              </div>
              <div class="checkbox">
                <label for="cf12"><%= f.check_box("functional_skills", {:multiple => true}, "Gestión de contenidos", nil) %> Gestión de contenidos</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-12 form-input">
              <label>Tecnologías de interés</label>
              <%= f.text_area :interests, rows: 4, class: "form-control", placeholder: "Ejemplo: Visual Basic .Net, C#, HTML5, JAVA, Oracle PL/SQL..." %>
            </div>
          </div>

          <div class="col-lg-12 form-input-left">
            <div class="form-group">
              <label>Adjunta tu CV</label>
              <input type="file" id="cv" name="cv" required="">
            </div>
          </div>

        </div>
      </div>

      <div class="row join-button">
        <div class="col-lg-12 text-center">
          <div id="success"></div>
          <button type="submit" class="btn btn-xl btn-primary">Postular</button>
        </div>
      </div>
    <% end %>
  </div>
</section>